<!DOCTYPE html>

<html>

<head>

    <title>Register</title>



</head>

<body>

    <h1>Register</h1>

    <div><a href="{% url 'login' %}">Already a user? Login</a></div>

    <div><a href="{% url 'home' %}">Go Home</a></div>

    <br/><br/>

    {% if submitted %}

        Your event was submitted

    {% else %}

        <form action="" method="post">

            {% csrf_token %}

            {{form.as_p}}

            <button>Register</button>

        </form>

    {% endif %}

</body>

</html>

