<!DOCTYPE html>

<html lang="en">



<head>

    <meta charset="UTF-8">

    <title>{{ deck.title }}</title>

    <style>

        .card-container {

            display: none;

        }



        .visible {

            display: block;

        }

    </style>

</head>



<body>

    <h1>{{ deck.title }}</h1>
    <H4>Made by:{{deck.user}}</H4>




    {% for card in cards %}

        <div class="card-container" id="card-{{ card.id }}">

            <p>Card {{ card.id }}:</p>

            <div id="content-{{ card.id }}" class="visible">

                <p class="question">{{ card.question }}</p>

                <p class="answer" style="display: none;">{{ card.answer }}</p>

            </div>

            
            <div id="navigation-buttons">

            <button onclick="flipCard({{ card.id }})">Flip</button>
        

            <button onclick="showPrevious()">Previous</button>

            <button onclick="showNext()">Next</button>

            </div>

            
            <form method="post" action="{% url 'view_deck' deck.id %}" style="display:inline;">

                {% csrf_token %}

                <input type="hidden" name="card_id" value="{{ card.id }}">

                {% if deck.user == request.user%}

                <button type="submit" name="action" value="delete_card">Delete Card</button>
                

                {%endif%}

            </form>



        </div>

    {% endfor %}






    {% if deck.user == request.user%}



        <a href="{% url 'create_card' deck.id %}">Create a New Card</a>

        <a href="{% url 'edit_deck' deck.id %}">Edit Deck</a>


    {%endif%}


    {% if request.user.is_authenticated %}

    <a href="{% url 'user_profile' request.user.pk %}">Your Profile</a>

    {%endif%}



    <a href="{% url 'home' %}">Go Home</a>



    <script>

        var currentCardIndex = 0;

        var cards = document.querySelectorAll('.card-container');



        function showCard(index) {

            cards.forEach(function (card, i) {

                card.classList.remove('visible');

                if (i === index) {

                    card.classList.add('visible');

                }

            });

        }



        function showNext() {

            currentCardIndex = (currentCardIndex + 1) % cards.length;

            showCard(currentCardIndex);

        }



        function showPrevious() {

            currentCardIndex = (currentCardIndex - 1 + cards.length) % cards.length;

            showCard(currentCardIndex);

        }



        function flipCard(cardId) {

            var content = document.getElementById('content-' + cardId);

            var question = content.querySelector('.question');

            var answer = content.querySelector('.answer');



            question.style.display = (question.style.display === 'none') ? 'block' : 'none';

            answer.style.display = (answer.style.display === 'none') ? 'block' : 'none';

        }



        // Show the initial card

        showCard(currentCardIndex);

    </script>



</body>



</html>