<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>{{ deck.title }}</title>

</head>

<body>

     <H1>{{deck.title}}</H1>



    {% for card in cards %}

        <p>Card {{ card.id }}:</p>

        <p>Question: {{ card.question }}</p>

        <p>Answer: {{ card.answer }}</p>



        <form method="post" action="{% url 'view_deck' deck.id %}" style="display:inline;">

            {% csrf_token %}

            <input type="hidden" name="card_id" value="{{ card.id }}">

            <button type="submit" name="action" value="delete_card">Delete Card</button>

        </form>

    {% endfor %}

    <a href="{% url 'create_card' deck.id %}">Create a New Card</a>

    <a href="{% url 'home' %}">Go Home</a>



</body>

</html>